@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/Poppins-Light.eot"), url("../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Light.otf") format("otf"),
    url("../fonts/Poppins-Light.svg#Poppins-Light") format("svg"),
    url("../fonts/Poppins-Light.ttf") format("truetype"),
    url("../fonts/Poppins-Light.woff") format("woff"),
    url("../fonts/Poppins-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.eot")url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Regular.otf") format("otf"),
    url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg"),
    url("../fonts/Poppins-Regular.ttf") format("truetype"),
    url("../fonts/Poppins-Regular.woff") format("woff"),
    url("../fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Medium.otf") format("otf"),
    url("../fonts/Poppins-Medium.svg#Poppins-Medium") format("svg"),
    url("../fonts/Poppins-Medium.ttf") format("truetype"),
    url("../fonts/Poppins-Medium.woff") format("woff"),
    url("../fonts/Poppins-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-SemiBold.otf") format("otf"),
    url("../fonts/Poppins-SemiBold.svg#Poppins-SemiBold") format("svg"),
    url("../fonts/Poppins-SemiBold.ttf") format("truetype"),
    url("../fonts/Poppins-SemiBold.woff") format("woff"),
    url("../fonts/Poppins-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Bold.otf") format("otf"),
    url("../fonts/Poppins-Bold.svg#Poppins-Bold") format("svg"),
    url("../fonts/Poppins-Bold.ttf") format("truetype"),
    url("../fonts/Poppins-Bold.woff") format("woff"),
    url("../fonts/Poppins-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins-Black";
  src: url("../fonts/Poppins-Black.eot");
  src: url("../fonts/Poppins-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Black.otf") format("otf"),
    url("../fonts/Poppins-Black.svg#Poppins-Black") format("svg"),
    url("../fonts/Poppins-Black.ttf") format("truetype"),
    url("../fonts/Poppins-Black.woff") format("woff"),
    url("../fonts/Poppins-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Return-Space";
  src: url("../fonts/Return-Space.eot");
  src: url("../fonts/Return-Space.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Return-Space.otf") format("otf"),
    url("../fonts/Return-Space.svg#Return-Space") format("svg"),
    url("../fonts/Return-Space.ttf") format("truetype"),
    url("../fonts/Return-Space.woff") format("woff"),
    url("../fonts/Return-Space.woff2") format("woff2");
}
